@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <div id="top-bar">
        <div class="component">
            <span class="header">Components</span>
            <span><i class="fa fa-angle-right" style="font-size:16px"></i></span>
            <span class="header">Navigations</span>
            <span><i class="fa fa-angle-right" style="font-size:16px"></i></span>
            <span class="header">General Information</span>
        </div>
    </div>
    <div id="feature">
        <div class="content">
            <div class="body-inner">
                General Information
            </div>
            <div style="text-align:left">
                <div style="font-size:2vw">Overview</div>
                <div class="text">To achieve your sales goals you may need to acquire some sales skills. Learnt skills such as effective communication and product knowledge can give you confidence in your ability to sell, which will make your customers more likely to buy your products or services.</div>
            </div>
            <div style="padding:2vw 0 2vw 0;text-align:left">
                <div style="font-size:1.5vw">Key Features</div>
                <div class="text">
                    <p>1. <b>Developing relationships with people </b></p>
                    <p>2. <b>Discovering their needs </b></p>
                    <p>3. <b>Matching your products and services to these needs</b></p>
                    <p>4. <b>Communicating the benefits of buying your products and services.</b></p>
                </div>
            </div>

        </div>
    </div>
</table>