@{
    ViewData["Title"] = "Sales Report";
}
<div style="min-height:900px; width:100%;">
    <bold-report-viewer id="viewer" report-path="sales-order-detail.rdl" report-service-url="/api/ReportViewer"></bold-report-viewer>
</div>